#adminmenu #menu-posts-bws-testimonial:hover div.wp-menu-image:before,
#adminmenu #menu-posts-bws-testimonial.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu #menu-posts-bws-testimonial div.wp-menu-image:before {
	background: url("../images/menu_single.png") no-repeat scroll center 8px transparent;
	content: '';
}
#adminmenu #menu-posts-bws-testimonial.wp-not-current-submenu div.wp-menu-image {
	opacity: 0.7;
}
.tstmnls-thumbnail > img {
	float: left;
	margin-top: 1%;
	margin-right: 10px;
	max-width: 50% !important;
}
.tstmnls-thumbnail + p {
	margin: 0;
}
.testimonials_quote blockquote:after {
	content: "";
	clear: both;
	display: table;
}
.tstmnls_captcha_error{
	color: #f00;
}
/*
* styles for widget
*/
.testimonial_quote_footer {
	text-align: right;
	margin-bottom: 10px;
}
.rtl_testimonial_quote_footer {
	text-align: left;
	margin-bottom: 10px;
}
/* admin styles */
#tstmnls_author,
#tstmnls_company_name {
	width: 100%;
}
.tstmnls_testimonial_comment{
	margin: 0 0 1.75em;
}
.tstmnls_required_symbol{
	color: #007acc;
}
.tstmnls_error{
	color: #f00;
	padding: 0;
	margin: 0;
}
.tstmnls_error_form{
	padding-bottom: 10px;
	color: #f00;
	margin: 0;
}
.tstmnls_field_form{
	padding: 0;
	margin: 0 0 1.75em;
}

#tstmnls_gdpr_link_options {
border: 1px solid #e0e0e0;
max-width: 390px;
margin: 5px 0;
padding: 3px;
}
.bws-testimonials .owl-prev {
    position: absolute;
    bottom: 50%;
    left: -10%;
}
.bws-testimonials .dashicons-arrow-left-alt2{
    font-size:25px;
}
.bws-testimonials .dashicons-arrow-right-alt2{
    font-size:25px;
}
.bws-testimonials .owl-next {
    position: absolute;
    bottom: 50%;
    right: -5%;
}
#tstmnls_gdpr_link::placeholder {
   color: #cdcdcd;
}

#tstmnls_gdpr_link_options label {
	display: block;
}
@media screen and ( min-width: 1100px ) {
	.tstmnls_gdpr_td {
		padding-top: 23px !important; 
	}
}

@media screen and ( max-width: 782px ) {
	#tstmnls_gdpr_link_options {
		padding: 8px;
	}
	#tstmnls_gdpr_link_options label input {
		margin: 5px 0;
		width: 100% !important;
	}
	#tstmnls_gdpr_link {
		height: 40px;
	}
	#tstmnls_gdpr {
		margin: 0; 
	}
}

.form-table th label {
	cursor: auto;
}

.tstmlnls_display_none {
    display: none !important;
}