#adminmenu #menu-posts-bws-testimonial:hover div.wp-menu-image:before,
#adminmenu #menu-posts-bws-testimonial.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu #menu-posts-bws-testimonial div.wp-menu-image:before {
    background: url("../images/menu_single.png") no-repeat scroll center 8px transparent;
    content: '';
}
#adminmenu #menu-posts-bws-testimonial.wp-not-current-submenu div.wp-menu-image {
    opacity: 0.7;
}
.tstmnls-thumbnail > img {
	float: left;
	margin-top: 1%;
	margin-right: 10px;
	max-width: 50% !important;
}
.tstmnls-thumbnail + p {
	margin: 0;
}
.testimonials_quote blockquote:after {
	content: "";
	clear: both;
	display: table;
}
/*
* styles for widget
*/
.testimonial_quote_footer {
	text-align: right;
	margin-bottom: 10px;
}
/* admin styles */
#tstmnls_author,
#tstmnls_company_name {
	width: 100%;
}